<!-- Check if page is in 'armory-cdaas' directory -->
<!-- Check the variable that indicates whether to display Armory CDaaS banner.
  If yes, display the banner. -->
  {{ $color := "primary" }}
  {{ if eq .Section "armory-cdaas" }}
  {{ if .Site.Params.cdaas_banner }}
  <div class="alert alert-{{ $color }}" role="alert">
    <h4 class="alert-heading">Early Access</h4>
    As part of participating in an early access program, you will receive information from Armory that is not yet publicly available and is subject to your NDA or confidentiality obligations with Armory.
  </div>
  {{ end }}
{{ end }}
