baseURL = "/"
title = "Armory Docs"

enableRobotsTXT = true
enableInlineShortcodes = true


# Hugo allows theme composition (and inheritance). The precedence is from left to right.
theme = ["docsy"]

# Will give values to .Lastmod etc.
enableGitInfo = true

# Language settings
contentDir = "content/en"
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false
# Useful when translating.
enableMissingTranslationPlaceholders = true

#disableKinds = ["taxonomy", "taxonomyTerm"]

# Highlighting config
pygmentsCodeFences = true
pygmentsUseClasses = false
# Use the new Chroma Go highlighter in Hugo.
pygmentsUseClassic = false
#pygmentsOptions = "linenos=table"
# See https://help.farbox.com/pygments.html
pygmentsStyle = "tango"

# Configure how URLs look like per section.
[permalinks]
blog = "/:section/:year/:month/:day/:slug/"

## Configuration for BlackFriday markdown parser: https://github.com/russross/blackfriday
[blackfriday]
plainIDAnchors = true
hrefTargetBlank = true
angledQuotes = false
latexDashes = true

# Image processing configuration.
[imaging]
resampleFilter = "CatmullRom"
quality = 75
anchor = "smart"

# Google Analytics configuration
[services]
[services.googleAnalytics]
# Comment out the next line to disable GA tracking. Also disables the feature described in [params.ui.feedback].
id = "UA-79996712-5"

# Language configuration

[languages]
[languages.en]
title = "Armory Docs"
description = "Unlocking Innovation by Making Software Delivery Continuous, Scalable, and Safe"
languageName ="English"
# Weight used for sorting.
weight = 1

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true


[[menu.main]]
  name = "Armory.io"
  weight = 5
  url = "https://www.armory.io"

[[menu.main]]
  name = "Case Studies"
  weight= 6
  url = "https://www.armory.io/learn/customer-success-stories/"

[[menu.main]]
  name = "KB"
  weight = 8
  url = "https://support.armory.io/"

[[menu.main]]
  name = "Blog"
  weight = 9
  url = "https://www.armory.io/blog/"

# Everything below this are Site Params

[params]
deploy-engine-plugin-version = "0.16.8"
armory-version = "2.26.x"
#used in air-gapped
matching-oss-version-exact = "1.26.3"
# used in agent compat and system requirements
mysql-version="5.7; AWS Aurora"
postgresql-version="10+"
#used in the Operator docs
armory-version-exact = "2.26.0"
halyard-armory-version = "1.12.0"
kubesvc-version="0.6.3"
operator-extended-crd-version = "v1alpha2"
operator-oss-crd-version = "v1alpha2"
opa-server-version = "0.28.0"
copyright = "Armory Inc."
privacy_policy = "https://www.armory.io/privacy-policy/"
terms_of_service = "https://www.armory.io/terms-of-service/"
terms_and_conditions = "https://www.armory.io/terms-and-conditions/"

# First one is picked as the Twitter card image if not set on page.
# images = ["images/project-illustration.png"]

# Menu title if your navbar has a versions selector to access old versions of your site.
# This menu appears only if you have at least one [params.versions] set.
version_menu = "Latest"

# Flag used in the "version-banner" partial to decide whether to display a
# banner on every page indicating that this is an archived version of the docs.
# Set this flag to "true" if you want to display the banner.
archived_version = false

# The version number for the version of the docs represented in this doc set.
# Used in the "version-banner" partial to display a version number for the
# current doc set.
version = "2.26"

# A link to latest version of the docs. Used in the "version-banner" partial to
# point people to the main doc site.
url_latest_version = "https://docs.armory.io/docs/"

# Repository configuration (URLs for in-page links to opening issues and suggesting changes)
github_repo = "https://github.com/armory/docs/"
# An optional link to a related project repo. For example, the sibling repository where your product code lives.
#github_project_repo = "https://github.com/armory"

# Specify a value here if your content directory is not in your repo's root directory
# github_subdir = ""

# Google Custom Search Engine ID. Remove or comment out to disable search.
# gcs_engine_id = "011737558837375720776:fsdu1nryfng"

# Enable Algolia DocSearch
algolia_docsearch = false

# Enable Lunr.js offline search
offlineSearch = true

# Enable syntax highlighting and copy buttons on code blocks with Prism
prism_syntax_highlighting = true

# Armory Agent plugin versions
[params.kubesvc-plugin]
agent_plug_latest-2="0.7.25"
agent_plug_latest_spin-2="2.24.x (1.24.x)"
agent_plug_latest-1="0.8.24"
agent_plug_latest_spin-1="2.25.x (1.25.x)"
agent_plug_latest="0.9.16"
agent_plug_latest_spin="2.26.x (1.26.x)"

# User interface configuration
[params.ui]
# Enable to show the side bar menu in its compact state.
sidebar_menu_compact = true
sidebar_menu_foldable= true
sidebar_cache_limit = 10
#  Set to true to disable breadcrumb navigation.
breadcrumb_disable = false
#  Set to true to hide the sidebar search box (the top nav search box will still be displayed if search is enabled)
sidebar_search_disable = false
#  Set to false if you don't want to display a logo (/assets/icons/logo.svg) in the top nav bar
navbar_logo = true
# Set to true to disable the About link in the site footer
footer_about_disable = false

# Adds a H2 section titled "Feedback" to the bottom of each doc. The responses are sent to Google Analytics as events.
# This feature depends on [services.googleAnalytics] and will be disabled if "services.googleAnalytics.id" is not set.
# If you want this feature, but occasionally need to remove the "Feedback" section from a single page,
# add "hide_feedback: true" to the page's front matter.
[params.ui.feedback]
enable = true
# The responses that the user sees after clicking "yes" (the page was helpful) or "no" (the page was not helpful).
yes = 'Thank you for letting us know!'
no = 'Sorry to hear that. Please <a href="https://github.com/armory/docs/issues/new">tell us how we can improve</a>.'

# Adds a reading time to the top of each doc.
# If you want this feature, but occasionally need to remove the Reading time from a single page,
# add "hide_readingtime: true" to the page's front matter
[params.ui.readingtime]
enable = false

# Enable Mermaid diagrams
[params.mermaid]
enable = true

[params.links]
# End user relevant links. These will show up on left side of footer and in the community page if you have one.
[[params.links.user]]
	name = "Email Armory"
	url = "mailto:info@armory.io"
	icon = "fa fa-envelope"
        desc = "Discussion and help from your fellow users"
[[params.links.user]]
	name ="Twitter"
	url = "https://twitter.com/cloudarmory"
	icon = "fab fa-twitter"
        desc = "Follow us on Twitter to get the latest news!"
# Developer relevant links. These will show up on right side of footer and in the community page if you have one.
[[params.links.developer]]
	name = "GitHub"
	url = "https://github.com/armory/docs"
	icon = "fab fa-github"
   desc = "Docs repository"
[[params.links.developer]]
	name = "Slack"
	url = "https://join.spinnaker.io/"
	icon = "fab fa-slack"
   desc = "Chat with Armory users and developers in the Spinnaker Slack"

#Add new release versions here. These entries appear in the drop-down menu
# at the top of the website.
[[params.versions]]
  version = "Latest"
  githubbranch = "master"
  url = "https://docs.armory.io/docs"

[[params.versions]]
  version = "v2.25"
  githubbranch = "v2.25"
  url = "https://v2-25.docs.armory.io/docs"

[[params.versions]]
  version = "v2.24"
  githubbranch = "v2.24"
  url = "https://v2-24.docs.armory.io/docs"

[[params.versions]]
  version = "v2.23"
  githubbranch = "v2.23"
  url = "https://v2-23.docs.armory.io/docs"
