# Hugo build configuration for Netlify
# (https://gohugo.io/hosting-and-deployment/hosting-on-netlify/#configure-hugo-version-in-netlify)
# Default build settings
[build]
  publish = "public"
  command = "cd themes/docsy && git submodule update -f --init && cd ../.. && hugo"


# "production" environment specific build settings
[build.environment]
  HUGO_VERSION = "0.71.1"
  HUGO_THEME = "docsy"
  HUGO_ENV = "production"

# section redirects
[[redirects]]
  from = "/overview/*"
  to = "/docs/overview/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/halyard-release-notes/*"
  to = "/docs/release-notes/rn-armory-halyard/"
  status = 301
  force = false

[[redirects]]
  from = "/release-notes/*"
  to = "/docs/release-notes/rn-armory-spinnaker/"
  status = 301
  force = false

[[redirects]]
  from = "/spinnaker/*"
  to = "/docs/spinnaker/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/operator_reference/*"
  to = "/docs/operator-reference/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/spinnaker-user-guides/*"
  to = "/docs/spinnaker-user-guides/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/spinnaker-install-admin-guides/*"
  to = "/docs/spinnaker-install-admin-guides/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/glossary/glossary"
  to = "/docs/overview/glossary/"
  status = 301
  force = false

[[redirects]]
  from =  "/docs/spinnaker-install-admin-guides/installation/*"
  to = "/docs/installation/guide/:splat"
  status = 301
  force = false

[[redirects]]
  from =  "/docs/operator-reference/*"
  to = "/docs/installation/operator-reference/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/docs/installation/armory-agent/agent-options/"
  to = "/docs/armory-admin/armory-agent/"
  force = true


# https://github.com/netlify-labs/netlify-plugin-sitemap
[[plugins]]
package = "@netlify/plugin-sitemap"

  [plugins.inputs]
  buildDir = "public"
  exclude =[
    './public/docs/plugin-guide/plugin-appname/',
    './public/docs/plugin-guide/plugin-policy-engine/'
  ]
  # append missing trailing slash to prettyURL
  trailingSlash = true
  changeFreq = "weekly"
  priority = 0.5

[[plugins]]
package = "@algolia/netlify-plugin-crawler"
  [plugins.inputs]
  branches = ['algolia-poc']
  mainBranch = 'algolia-poc'
