# Hugo build configuration for Netlify
# (https://gohugo.io/hosting-and-deployment/hosting-on-netlify/#configure-hugo-version-in-netlify)
# Default build settings
[build]
  publish = "public"
  command = "cd themes/docsy && git submodule update -f --init && cd ../.. && hugo"


# "production" environment specific build settings
[build.environment]
  HUGO_VERSION = "0.71.1"
  HUGO_THEME = "docsy"
  HUGO_ENV = "production"

# section redirects
[[redirects]]
  from = "/overview/*"
  to = "/armory-enterprise/overview/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/install-guide/*"
  to = "/armory-enterprise/installation/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/halyard-release-notes/*"
  to = "/armory-enterprise/release-notes/rn-armory-halyard/"
  status = 301
  force = false

[[redirects]]
  from = "/release-notes/*"
  to = "/armory-enterprise/release-notes/rn-armory-spinnaker/"
  status = 301
  force = false

[[redirects]]
  from = "/spinnaker/*"
  to = "/armory-enterprise/spinnaker-user-guides/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/operator_reference/*"
  to = "/armory-enterprise/installation/armory-operator/op-manifest-reference/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/spinnaker-user-guides/*"
  to = "/armory-enterprise/spinnaker-user-guides/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/spinnaker-install-admin-guides/*"
  to = "/armory-enterprise/spinnaker-install-admin-guides/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/glossary/glossary"
  to = "/armory-enterprise/overview/glossary/"
  status = 301
  force = false

[[redirects]]
  from =  "/docs/spinnaker-install-admin-guides/installation/*"
  to = "/armory-enterprise/installation/guide/:splat"
  status = 301
  force = false

[[redirects]]
  from =  "/docs/operator-reference/*"
  to = "/armory-enterprise/installation/armory-operator/op-manifest-reference/:splat"
  status = 301
  force = false

[[redirects]]
  from =  "/docs/installation/operator-reference/*"
  to = "/armory-enterprise/installation/armory-operator/op-manifest-reference/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/docs/installation/armory-agent/agent-options/"
  to = "/armory-enterprise/armory-agent/advanced-config/agent-options/"
  force = true

[[redirects]]
  from = "/docs/spinnaker-user-guides/policy-engine-use/packages/*"
  to = "/armory-enterprise/armory-admin/policy-engine/policy-engine-use/packages/:splat"

[[redirects]]
  from = "/docs/*"
  to = "/armory-enterprise/:splat"

[[redirects]]
  from = "/ae/*"
  to = "/armory-enterprise/:splat"

[[redirects]]
  from = "/borealis/*"
  to = "/cd-as-a-service/"

[[redirects]]
  from = "/armory-cdaas/*"
  to = "/cd-as-a-service/"

[[plugins]]
package = "@netlify/plugin-sitemap"

  [plugins.inputs]
  buildDir = "public"
  # make sure you add a comma after each entry in the exclude list except on the last one
  # exclude everything in archive site
  exclude =[
    './public/**/**'
  ]
  # append missing trailing slash to prettyURL
  trailingSlash = true
  changeFreq = "weekly"
  priority = 0.5

# headers  https://docs.netlify.com/routing/headers/#syntax-for-the-headers-file
# https://cloud-armory.slack.com/archives/CH4RVCCTS/p1608572781420500
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
