# Hugo build configuration for Netlify
# (https://gohugo.io/hosting-and-deployment/hosting-on-netlify/#configure-hugo-version-in-netlify)
# Default build settings
[build]
  publish = "public"
  command = "cd themes/docsy && git submodule update -f --init && cd ../.. && hugo"


# "production" environment specific build settings
[build.environment]
  HUGO_VERSION = "0.71.1"
  HUGO_THEME = "docsy"
  HUGO_ENV = "production"

# section redirects
[[redirects]]
  from = "/overview/*"
  to = "/docs/overview/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/halyard-release-notes/*"
  to = "/docs/release-notes/rn-armory-halyard/"
  status = 301
  force = false

[[redirects]]
  from = "/release-notes/*"
  to = "/docs/release-notes/rn-armory-spinnaker/"
  status = 301
  force = false

[[redirects]]
  from = "/spinnaker/*"
  to = "/docs/spinnaker/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/operator_reference/*"
  to = "/docs/operator-reference/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/spinnaker-user-guides/*"
  to = "/docs/spinnaker-user-guides/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/spinnaker-install-admin-guides/*"
  to = "/docs/spinnaker-install-admin-guides/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/glossary/glossary"
  to = "/docs/overview/glossary/"
  status = 301
  force = false

[[redirects]]
  from =  "/docs/spinnaker-install-admin-guides/installation/*"
  to = "/docs/installation/guide/:splat"
  status = 301
  force = false

[[redirects]]
  from =  "/docs/operator-reference/*"
  to = "/docs/installation/armory-operator/op-manifest-reference/:splat"
  status = 301
  force = false

[[redirects]]
  from =  "/docs/installation/operator-reference/*"
  to = "/docs/installation/armory-operator/op-manifest-reference/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/docs/installation/armory-agent/agent-options/"
  to = "/docs/armory-admin/armory-agent/"
  force = true

[[redirects]]
  from ="/docs/spinnaker-user-guides/policy-engine-use/packages/*"
  to = "/docs/armory-admin/policy-engine/policy-engine-use/packages/:splat"

# https://github.com/netlify-labs/netlify-plugin-sitemap
[[plugins]]
package = "@netlify/plugin-sitemap"

  [plugins.inputs]
  buildDir = "public"
  # make sure you add a comma after each entry in the exclude list except on the last one
  exclude =[
    './public/docs/plugin-guide/plugin-appname/',
    './public/docs/feature-status/deprecations/pacrd-deprecation/',
    './public/docs/installation/deployment-reg/',
    './public/docs/installation/aurora-install/',
    './public/borealis/',
    './public/managed-spin'
    
    
  ]
  # append missing trailing slash to prettyURL
  trailingSlash = true
  changeFreq = "weekly"
  priority = 0.5


# headers  https://docs.netlify.com/routing/headers/#syntax-for-the-headers-file
# https://cloud-armory.slack.com/archives/CH4RVCCTS/p1608572781420500
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
