/*

Add styles or override variables from the theme here.
https://www.docsy.dev/docs/adding-content/lookandfeel/#fonts
*/

$primary: #001321;
$dark: #001321;
$google_font_name: "Open Sans";
$google_font_family: "Open+Sans:300,300i,400,400i,700,700i";

$light_grey: #F1F5F9;
$light_blue: #4AC1E0;
$medium_blue: #005491;
$dark_blue: #253C5D;
$border_grey: #D7DDE3;
$container_spacing: 16px;
$mustard_yellow: #F3B722;

@mixin mobile {
  @media (max-width: 500px) { @content; }
}

@mixin tablet {
  @media (max-width: 715px) { @content; }
}

@mixin desktop {
  @media (max-width: 915px) { @content; }
}

@mixin large-desktop {
  @media (max-width: 1280px) { @content; }
}

// Override navbar transparency
nav.td-navbar-cover {
  background: $dark_blue !important;
}

// Namespacing homepage styles
.td-home {
  #td-cover-block-0 {
    background-color: $light_grey;

    &.td-overlay--dark::after {
      background-color: transparent;
    }
  }

  h1, h2, h3, h4, p, p.lead {
    color: $medium_blue;
  }

  h1.display-1 {
    font-size: 74px;
    margin-bottom: 0;
    padding-bottom: 1rem !important;
    line-height: 100%;

    @include mobile {
      font-size: 60px;
    }
  }
  
  h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 66px auto !important;

    @include mobile {
      font-size: 38px;
    }
  }

  p {
    font-size: 15px;
    line-height: 22px;
  }
  
  p.lead {
    font-size: 26px;
    line-height: 34px;
  }

  .btn {
    color: $medium_blue;
    padding: 10px 20px;
    border-radius: 36px;
    font-weight: 700;
    border: 0;

    &.white {
      background: white;
      border: 2px solid $mustard_yellow;
      box-shadow: none;

      &:hover {
        color: $medium_blue;
      }
    }
  }

  .icon {
    background: white;
    border-radius: 50%;
    border: 2px solid $medium_blue;
    width: 82px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.small-icon {
      width: 40px;
      height: 40px;
      border: none;
    }
  }

  .small-link {
    color: #38B5D9;
    
    > * {
      display: block;
      float: left;
    }

    i {
      margin-left: 5px;
      margin-top: -2px;
    }
  }

  .product-documentation .row {
    margin: 0 $container_spacing;
  
    > div {
      border: 2px solid $border_grey;
      border-top: 20px solid $medium_blue;
      border-radius: 12px;
      margin: 0 $container_spacing;
      padding: 54px;
      display: flex;
      background-color: white;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      
      @include large-desktop {
        margin-bottom: $container_spacing*3;
      }
      
      > i {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translate(-50%, -50%);
      
        img {
          width: 50px;
          height: 50px;
        }
      }
      
      h3 {
        line-height: 31px;
        margin-bottom: $container_spacing;
      }
      
      p {
        color: #606060;
        line-height: 22px;
        text-align: center;
      }
    }

    .link-container {
      margin-top: auto;
    }

    a {
      display: flex;
      justify-content: center;
    }
  }

  .new-to-armory {
    height: 298px;
    background-color: $light_blue;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -58.5px;

    @include large-desktop {
      margin-top: -90px;
    }

    h3 {
      color: white;
      font-weight: 500;
      font-size: 26px;
      height: auto;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .btn-container {
      a:first-child {
        margin-right: $container_spacing;

        @include mobile {
          margin-right: 5px;
        }
      }
    }
  }

  .developer-resources {
    .resource-container {
      margin: 0 $container_spacing;
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    
      > div {
        margin: 0 0 $container_spacing*3 12px;
        padding: 34px $container_spacing*2;
        border: 2px solid #D7DDE3;
        display: flex;
        flex-direction: column;
        height: 284px;
        position: relative;
        width: calc(33% - 20px);

        @include large-desktop {
          width: calc(33% - 24px);
        }

        @include desktop {
          width: calc(50% - 24px);
        }

        @include tablet {
          width: calc(100% - 24px);
        }

        i {
          background-color: $light_grey;
          color: $medium_blue;
          margin-bottom: $container_spacing;
        }

        a {
          position: absolute;
          bottom: $container_spacing*2;
        }

        p {
          color: $dark_blue;
          line-height: 18px;
        }
      }
    }
  }
}

