{{ define "main" }}
<section class="row td-search-result">
<div class="col-12 col-md-8 offset-md-2">
<h2 class="ml-4">{{ .Title }}</h2>
{{ with .Site.Params.gcs_engine_id }}
<script>
(function() {
var cx = '{{ . }}';
var gcse = document.createElement('script');
gcse.type = 'text/javascript';
gcse.async = true;
gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(gcse, s);
})();
</script>
			<gcse:searchresults-only></gcse:searchresults-only>
{{ end }}

{{ with .Site.Params.elastic_appsearch   }}
<script>
(function () {
	//
var ElasticAppSearch = require("@elastic/app-search-javascript");
// this doesn't work - can't evaluate the fields
var key = '{{ .Site.Params.elastic_appsearch_api_search_key }}';
var endpoint = '{{ .Site.Params.elastic_appsearch_endpoint_base }}';
var engine = '{{ .Site.Params.elastic_appsearch_engine_name }}';
var client = ElasticAppSearch.createClient({
  searchKey: key,
  endpointBase: endpoint,
  engineName: engine
});

})();
</script>
{{ end }}
</div>
</section>

{{ end }}