<div class="section-index">
  <div>
    <h3><a class="fas fa-rss" target="_blank" href="{{ .Permalink }}/index.xml"></a></h3>
  </div>

  {{ $pages := (where .Site.Pages "Section" .Section).ByParam "version" }}
  {{ $pagesReverse := $pages.Reverse }}
  {{ $parent := .Page }}

  <div>Armory Operator:</div>

  <ul>
    {{ range $pagesReverse }}
      {{ if eq .Parent $parent }}

        {{ if in .Title "Armory" }}
          <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
        {{end}}

      {{end}}
    {{ end }}
  </ul>
  <div>Open Source Operator:</div>
  <ul>
    {{ range $pagesReverse }}
      {{ if eq .Parent $parent }}

        {{ if in .Title "Operator for Spinnaker" }}
        <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
        {{end}}

      {{end}}
    {{ end }}
  </ul>

</div>
