<div class="section-index">
{{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
{{ $pagesReverse := (where .Site.Pages "Section" .Section).ByWeight.Reverse }}
{{ $parent := .Page }}

  <ul>
    {{$displayedMinorVersions := 0}}
    {{$currentMajor := 1000}}
    {{$currentMinor := 1000}}

    {{ range $pagesReverse }}
      {{/*this will pickout the first {major}.{minor}.{patch} numbers*/}}
      {{ $semverSlice := findRE "[0-9]+" .Title }}

      {{ if and (ge (len $semverSlice) 3) (eq .Page.Parent $parent.Parent) }}
        {{if lt (index $semverSlice 0) $currentMajor }}
          {{$currentMajor = (index $semverSlice 0)}}
          {{$currentMinor = (index $semverSlice 1)}}
        {{end }}

        {{ if lt (index $semverSlice 1) $currentMinor}}
          {{$currentMinor = (index $semverSlice 1)}}
          {{$displayedMinorVersions = add $displayedMinorVersions 1}}
        {{end}}

        {{if gt $displayedMinorVersions 2}}
          <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
        {{end}}
      {{end}}
    {{end}}
	</ul>
</div>
