<div class="section-index">

<div>
  <h3><a class="fas fa-rss" target="_blank" href="{{ .Permalink }}/index.xml"></a></h3>
</div>
  {{ $pages := (where .Site.Pages "Section" .Section).ByParam "version" }}
  {{ $pagesReverse := $pages.Reverse }}
  {{ $parent := .Page }}

  <div>Armory supports the three most recent minor versions:</div>

  <ul>
    {{ $semverActiveMajor := 10000 }}
    {{ $semverActiveMinor := 10000 }}
    {{ $semverActivePatch := 10000 }}

    {{$displayedTitles := slice }}

    {{ range $pagesReverse }}
      {{ if eq .Parent $parent }}

        {{/* this will pickout the first {major}.{minor}.{patch} numbers */}}
        {{ $semverSlice := findRE "[0-9]+" .Title }}
        {{ if and (ge (len $semverSlice) 3) (lt (len $displayedTitles) 3) }}
          {{if and (le ( index $semverSlice 0 ) $semverActiveMajor) (lt ( index $semverSlice 1 ) $semverActiveMinor)  }}
            {{ $semverActiveMajor = index $semverSlice 0 }}
            {{ $semverActiveMinor = index $semverSlice 1 }}
            {{ $semverActivePatch = index $semverSlice 2 }}
            {{ $displayedTitles = $displayedTitles | append .Title }}
            <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
          {{end}}
        {{end}}
      {{end}}
    {{ end }}
  </ul>
  <div>Versions listed below will soon be deprecated:</div>
  <ul>

    {{$displayedMinoredVersions := 0}}

    {{ range $pagesReverse }}
      {{ if and (eq .Parent $parent) (not (in $displayedTitles .Title)) }}

        {{/* this will pickout the first {major}.{minor}.{patch} numbers */}}
        {{ $semverSlice := findRE "[0-9]+" .Title }}

        {{ if and (ge (len $semverSlice) 3)  (lt $displayedMinoredVersions 1) }}
          {{if ge (index $semverSlice 1) $semverActiveMinor }}
            {{ $displayedTitles = $displayedTitles | append .Title }}
            <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
          {{end}}
        {{end}}
      {{end}}
    {{ end }}
  </ul>

  <div>Versions older than the last 3 minor versions can be found in the <a href="archive">Armory Release Notes Archive</a>.</div>

</div>
