<div class="section-index">

<div>

<strong>Release number layout</strong>
<p>
Armory release numbers help customers to distinguish releases at a glance.
</p>
<details><summary>Click to expand explanation</summary>
<pre><!-- language: lang-none -->
| Armory CD Sample |
| ---------------- |
|  2  .  30  .  1  |
   \      \     \
    \      \     Dot Release: Contains bug fixes, CVE updates, and/or features behind a feature flag
     \      Long Term Support (LTS) Release: Contains significant features, bug fixes, CVE updates, and code/library changes (3 releases support schedule)
      \     Feature Release: Contains significant features, bug fixes, CVE updates, and code/library changes (~6 month support schedule)
       Indicates Armory CD (a "1" denotes an open source Spinnaker release)
</pre>
</details>
<br>

</div>
  {{ $pages := (where .Site.Pages "Section" .Section).ByParam "version" }}
  {{ $pagesReverse := $pages.Reverse }}
  {{ $parent := .Page }}

  <div><strong>These are the latest three releases</strong></div>

  <ul>
    {{ $semverActiveMajor := 10000 }}
    {{ $semverActiveMinor := 10000 }}
    {{ $semverActivePatch := 10000 }}

    {{$displayedTitles := slice }}

    {{ range $pagesReverse }}
      {{ if eq .Parent $parent }}

        {{/* this will pick out the first {major}.{minor}.{patch} numbers */}}
        {{ $semverSlice := findRE "[0-9]+" .Title }}
        {{ if and (ge (len $semverSlice) 4) (lt (len $displayedTitles) 4) }}
          {{if and (le ( index $semverSlice 0 ) $semverActiveMajor) (lt ( index $semverSlice 1 ) $semverActiveMinor)  }}
            {{ $semverActiveMajor = index $semverSlice 0 }}
            {{ $semverActiveMinor = index $semverSlice 1 }}
            {{ $semverActivePatch = index $semverSlice 2 }}
            {{ $displayedTitles = $displayedTitles | append .Title }}
            <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
          {{end}}
        {{end}}
      {{end}}
    {{ end }}
  </ul>
  <div><strong>Versions listed below will soon be deprecated</strong></div>
  <ul>

    {{$displayedMinoredVersions := 0}}

    {{ range $pagesReverse }}
      {{ if and (eq .Parent $parent) (not (in $displayedTitles .Title)) }}

        {{/* this will pick out the first {major}.{minor}.{patch} numbers */}}
        {{ $semverSlice := findRE "[0-9]+" .Title }}

        {{ if and (ge (len $semverSlice) 3)  (lt $displayedMinoredVersions 1) }}
          {{if ge (index $semverSlice 1) $semverActiveMinor }}
            {{ $displayedTitles = $displayedTitles | append .Title }}
            <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
          {{end}}
        {{end}}
      {{end}}
    {{ end }}
  </ul>

  <div>You can find older versions in the <a href="archive">Armory Release Notes Archive</a>.</div>

</div>
