{{ define "main"}}
<main id="main">
  <div align="center">
    <h1 id="title">Page Not Found</h1>
    <p>Oops! We're sorry we missed coding a redirect.
      Please use the site navigation or the search on the
      <a href="{{ "/" | relURL }}">home page</a> to find content.</p>
    <p>
      Enjoy this artwork from the public domain <a
      href="https://digitalcollections.nypl.org/collections/works-progress-administration-wpa-art#/?tab=about"
      target="new">Works Progress Administration (WPA) Art Collection</a>, which is part of The New York Public Library
      Digital Collections. The pieces below were created between 1935 and 1943 at the Harlem Arts Community Center. The
      WPA enabled many artists to work full time on their craft.
    </p>

    <table align="center">
      <tr>
        <td>
          <figure>
            <img alt="Rhythm Band" src="/images/404/wpa-rhythm-band.jpg">
            <figcaption>WPA Rhythm Band</figcaption>
          </figure>
        </td>
      </tr>
      <tr>
        <td>
          <figure>
            <img alt="Harlem Dance" src="/images/404/wpa-harlem-dance.jpg">
            <figcaption>Harlem WPA Street Dance</figcaption>
          </figure>
        </td>
      </tr>
    </table>
  </div>

</main>
{{ end }}
