{{ define "main"}}
    <main id="main">
      <div align="center">
       <h1 id="title">Page Not Found</h1>
	

			

		 <figure>
	  <img src="/images/404/404-graphic.png" alt="Page Not Found">

	  </figure>



			<p>


				Find CD-as-a-Service docs at <a href="https://developer.armory.io" target="_blank">developer.armory.io</a></br>
				Find Armory CD docs  at <a href="{{ "/continuous-deployment/" | relURL }}">docs.armory.io/continuous-deployment/</a></br>
				Find Spinnaker Plugins docs  at <a href="{{ "/plugins/" | relURL }}">docs.armory.io/plugins/</a></br>
							
				
				</p>
      </div>
    </main>
{{ end }}



