---
title: v{{ (ds "payload").armoryVersion }} Armory Release (OSS Spinnaker™ v{{ (ds "payload").ossVersion }})
toc_hide: true
version: <!-- version in 00.00.00 format ex 02.23.01 for sorting, grouping -->
date: {{ (time.Now).Format "2006-01-02" }}
description: >
  Release notes for Armory Enterprise v{{ (ds "payload").armoryVersion }}
---

## {{ (time.Now).Format "2006/01/02" }} Release Notes

> Note: If you're experiencing production issues after upgrading Spinnaker, rollback to a previous working version and please report issues to [http://go.armory.io/support](http://go.armory.io/support).

## Required Armory Operator version

To install, upgrade, or configure Armory {{ (ds "payload").armoryVersion }}, use Armory Operator 1.70 or later.

## Security

Armory scans the codebase as we develop and release software. Contact your Armory account representative for information about CVE scans for this release.

## Breaking changes
<!-- Copy/paste from the previous version if there are recent ones. We can drop breaking changes after 3 minor versions. Add new ones from OSS and Armory. -->

> Breaking changes are kept in this list for 3 minor versions from when the change is introduced. For example, a breaking change introduced in 2.21.0 appears in the list up to and including the 2.24.x releases. It would not appear on 2.25.x release notes.

## Known issues
<!-- Copy/paste known issues from the previous version if they're not fixed. Add new ones from OSS and Armory. If there aren't any issues, state that so readers don't think we forgot to fill out this section. -->

## Highlighted updates

<!--
Each item category (such as UI) under here should be an h3 (###). List the following info that service owners should be able to provide:
- Major changes or new features we want to call out for Armory and OSS. Changes should be grouped under end user understandable sections. For example, instead of Deck, use UI. Instead of Fiat, use Permissions.
- Fixes to any known issues from previous versions that we have in release notes. These can all be grouped under a Fixed issues H3.
-->




###  Spinnaker Community Contributions

There have also been numerous enhancements, fixes, and features across all of Spinnaker's other services. See the
[Spinnaker v{{ (ds "payload").ossVersion }}](https://www.spinnaker.io/changelogs/{{ (ds "payload").ossVersion }}-changelog/) changelog for details.

## Detailed updates

### Bill Of Materials (BOM)

Here's the BOM for this version.
<details><summary>Expand</summary>
<pre class="highlight">
<code>{{ (ds "payload").stack | data.ToYAML }}</code>
</pre>
</details>

### Armory

{{ range (ds "payload").armoryServices }}
#### {{ .name }} - {{ .previousVersion }}...{{ .currentVersion }}
{{ range .commitMessages }}
  - {{- printf " %s" . -}}
{{ end }}
{{ end }}

### Spinnaker

{{ range (ds "payload").ossServices }}
#### {{ .name }} - {{ .currentVersion }}
{{ range .commitMessages }}
  - {{- printf " %s" . -}}
{{ end }}
{{ end }}
