name: Linting
on: [pull_request]

jobs:
  prose:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Vale
      uses: errata-ai/vale-action@1.13
      with:
        # Optional
        styles: 
          https://github.com/errata-ai/Google/releases/latest/download/Google.zip

        # Optional. Only lint modified files. Once we pay off tech debt, we'll switch the linting to  onlyAnnotateModifiedLines afterwards
        files: __onlyModified
        
        #  only annotate lines that have been modified within a PR
        onlyAnnotateModifiedLines: true
      env:
        # Required
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
