name: Linting
on: [pull_request]

jobs:
  prose:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0

      - name: Vale Linter
        uses: errata-ai/vale-action@v2.0.1
        with:

          # Optional. Only lint modified files. Once we pay off tech debt, we'll switch the linting to  onlyAnnotateModifiedLines afterwards
          files: __onlyModified  # this is for versions > 1.3.0

          #  only annotate lines that have been modified within a PR
          onlyAnnotateModifiedLines: true
